@page "/"

<PageTitle>Home</PageTitle>

<h1>Välkommen till Ordspel !</h1>


<form method="post">
    <h3>Inloggning</h3>
    <input type="text" placeholder="Användarnamn" />
    <Passwordbox type="text" placeholder="Användarnamn" />
</form>