@page "/login"
@using OrdSpel.Shared.UserDTOs
@using OrdSpel.UI.Services

@inject HttpService HttpService
@inject NavigationManager NavigationManager

<PageTitle>Inloggning</PageTitle>

<h1>Välkommen till Ordspelet !</h1>
<a href="/register">Registrera dig</a>


<div class="mb-3">

    <form method="post">
        <label>@DisplayBox</label>
        <input @bind="_enteredUsername" type="text" placeholder="Användarnamn"/>
        <input @bind="_enteredPassword" type="password" placeholder="Lösenord"/>
        <button type="submit">Logga in</button>
    </form>

</div>

@code {

    private string DisplayBox { get; set; } = string.Empty;
    private string _enteredUsername = string.Empty;
    private string? _enteredPassword = null;

    public LoginDto loginDto { get; set; }

    public async Task LoginUser()
    {
        var loginDto = new LoginDto
        {
            Username = _enteredUsername,
            Password = _enteredPassword!
        };

        var result = await HttpService.LoginUser(loginDto);

        if (result == null)
        {
            DisplayBox = "Inloggning misslyckades, försök igen.";
        }
    }


}