@page "/"
@using OrdSpel.Shared.AuthDTOs
@using OrdSpel.UI.Services

@inject HttpService HttpService
@inject NavigationManager NavigationManager
@inject AuthStateService AuthState

<PageTitle>Inloggning</PageTitle>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 400px">
        <h2 class="card-title text-center mb-4">Välkommen till Ordspelet!</h2>

        <form @onsubmit="LoginUser" @onsubmit:preventDefault>
            <div class="mb-3">
                <label class="form-label">Användarnamn</label>
                <input id="username" class="form-control" @bind="_enteredUsername" type="text" placeholder="Användarnamn" />
            </div>

            <div class="mb-3">
                <label class="form-label">Lösenord</label>
                <input id="password" class="form-control" @bind="_enteredPassword" type="password" placeholder="Lösenord" />
            </div>

            @if (!string.IsNullOrEmpty(DisplayBox))
            {
                <div class="alert alert-danger">@DisplayBox</div>
            }

            <button id="submitLogin" type="submit" class="btn btn-primary w-100">Logga in</button>
        </form>
    </div>
</div>

@code {

    private string DisplayBox { get; set; } = string.Empty;
    private string _enteredUsername = string.Empty;
    private string? _enteredPassword = null;

    public async Task LoginUser()
    {

        if (string.IsNullOrWhiteSpace(_enteredUsername) ||
            string.IsNullOrWhiteSpace(_enteredPassword))
        {
            DisplayBox = "Vänligen fyll i både användarnamn och lösenord";
            return;
        }

        var loginDto = new LoginDto
        {
            Username = _enteredUsername,
            Password = _enteredPassword!
        };

        var result = await HttpService.LoginUser(loginDto);

        if (!result.Success)
        {
            DisplayBox = "Fel användarnamn eller lösenord";

            await Task.Delay(3000);
            DisplayBox = string.Empty;
            return;
        }

        AuthState.Login(result.Token!, result.UserId!);
        NavigationManager.NavigateTo("/game");
    }

}