@page "/"
@using OrdSpel.Shared.UserDTOs
@using OrdSpel.UI.Services

@inject HttpService HttpService
@inject NavigationManager NavigationManager

<PageTitle>Inloggning</PageTitle>

<h1>Välkommen till Ordspelet !</h1>
<NavLink href="/register">Registrera dig</NavLink>


<div class="mb-3">

    <form method="post">
        <label id="errorBox">@DisplayBox</label>
        <input id="username" @bind="_enteredUsername" type="text" placeholder="Användarnamn"/>
        <input id="password" @bind="_enteredPassword" type="password" placeholder="Lösenord"/>
        <button id="submitLogin" type="submit">Logga in</button>
    </form>

</div>

@code {

    private string DisplayBox { get; set; } = string.Empty;
    private string _enteredUsername = string.Empty;
    private string? _enteredPassword = null;

    public async Task LoginUser()
    {

        if (string.IsNullOrWhiteSpace(_enteredUsername) ||
            string.IsNullOrWhiteSpace(_enteredPassword))
        {
            DisplayBox = "Vänligen fyll i både användarnamn och lösenord";
            return;
        }

        var loginDto = new LoginDto
        {
            Username = _enteredUsername,
            Password = _enteredPassword!
        };

        var result = await HttpService.LoginUser(loginDto);

        if (!result.Success)
        {
            DisplayBox = "Fel användarnamn eller lösenord";

            await Task.Delay(3000);
            DisplayBox = string.Empty;
            return;
        }

        NavigationManager.NavigateTo("/game");
    }

}